@charset "UTF-8";

/* CSS para todos os dispositivos */

:root{
    --cor01: #8377d1a9; /* Tropical Indigo */
    --cor02: #D95D39; /* Cinnabar*/
    --cor03: #003559; /* Prussian Blue */
}

*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: var(--cor01);
    padding: 20px;
    width: 100vw;
    height: 200px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

header > input#iprocurar{
    padding: 10px;
    width: 300px;
    height: 50px;

    flex: 0 0 auto;
}

body{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    width: 100vw;
    height: 100vh;
}

footer{
    padding-top: 10px;
    text-align: center;
}

footer > p > a{
    border-radius: 10px;
    color: white;
    padding: 5px;
    text-decoration: none;
}

footer > p > a:hover{
    background-color: white;
    color: black;
}